$white: #ffffff;
$black: #2B2B2B;
$dkGray: #303030;
$ltGray: #EEEEEE;
$coral: coral;
$bg-yellow: #FFE000;
$fluor-orange: #FF3D00;
$orange: #dca035;
$electric_blue: #2e02f3;
$red: red;
$green: green;
$pink: #ff00ea;
$army: #BBC489;